# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Data files (given in readme)
data/*
model/*


# Files generated during execution
embeddings/*
uploads/*
myfile.json
outputs.txt

# For folder structure
!data/.gitkeep
!embeddings/.gitkeep
!uploads/.gitkeep 
